/* FILEPATH: /c:/Users/matth/IRC_JSF600/frontend/src/index.css */

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  background-image: url("/public/background_IRC.svg");
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
}

header .container {
  max-width: 1400px;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

/* Heading styles */
h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

/* Home page styles */
.home {
  padding: 10px 20px;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Pages */
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
